@page "/anarchy"

<h1>OTT-Craft: ANARCHY</h1>
<h5 style="color:red;">DISCLAIMER</h5>
<p>Inspired by the videos of 2B2T on FitMC's YouTube channel, we are aiming for a microcosm of that playstyle for those who wish to partake in it.</p>

@{
}
