@page "/founders"

<h1>OTT-Craft: FOUNDERS</h1>
<h5 style="color:red;">Who are we?</h5>
<p>This page is intended to give information about the history of OTT-Craft and list the founding members and talk a little bit about them.</p>

<h3>Founder: ElricOfAmestris</h3>
<p>Quote from this founder: ____________</p>
<p>paragraph about the founder</p>
<p>founder's links (linktree)</p>

<h3>Founder: ModMiner04</h3>
<p>Quote from this founder: ____________</p>
<p>paragraph about the founder</p>
<p>founder's links (linktree)</p>

<h3>Founder: Craftsman06</h3>
<p>Quote from this founder: ____________</p>
<p>paragraph about the founder</p>
<p>founder's links (linktree)</p>

@{
}
