@page "/smp"

<h1>OTT-Craft: SMP</h1>
<h5 style="color:red;">DISCLAIMER</h5>
<p>We are a small server akin to Hermitcraft. We all wish we could be part of their community and play style, but there's only so many slots to fill. So, what can we do? Well, we decided to make our own humble version in hopes to live the dream. Not to usurp the Hermits in any way, but to be able to play with like minded people in a similar manner. To Hemitcraft and the Hermits, thank you for all that you are and all that you do. You've been a positive inspiration to many!'</p>

<p></p>

@{
}
